<!DOCTYPE html>
<html lang="ko"
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layouts/default">

<div layout:fragment="content" class="container" style="margin-top:30px">
   <div class="row">   
      <table class="table">
         <tbody>
            <tr>
               <td width="*" th:text="${board.title}"></td>
               <td width="15%" th:text="${board.regId}"></td>
               <td width="15%" th:text="${board.regDtt}"></td>
            </tr>
            <tr>
               <td colspan="3" th:text="${board.content}"></td>                              
            </tr>
            <tr>
               <td colspan="3">
                  <div class="row">
                     <div class="col-sm-10 no-padding">
                        <input type="text" name="comment" class="form-control" placeholder="댓글을 입력해 주세요" />
                     </div>
                     <div class="col-sm-2 no-padding">
                        <button type="button" class="btn btn-secondary">등록</button>
                     </div>
                  </div>
               </td>                              
            </tr>
         </tbody>         
      </table>
      <table class="table">
         <colgroup>
            <col width="20%" />
            <col width="80%" />
         </colgroup>
         <tbody id="t-comments"></tbody>
      </table>
   </div>
   <div class="row float-right">
      <a th:href="@{/board/modify/{id}(id=${board.id})}"><button class="btn btn-primary">수정</button></a>
      <a href="javascript:;"><button class="btn btn-danger">삭제</button></a>
      <a href="/board/list"><button class="btn btn-secondary">목록</button></a>
   </div>
   
   <script type="text/javascript">
      var getComments = (boardId) => {
         $.get(`/api/comment/board/` + boardId)
         .done((response) => {
            console.log(response)
            $('#t-comments').empty()
            $("#commentsTmpl").tmpl(response).appendTo('#t-comments')
         })
         .fail((err) => {
            alert('에러났음')
            console.log(err)
         })
      }
      
      $(document).ready(()=>{
         getComments([[${board.id}]])
      })
   </script>
   
   <script id="commentsTmpl" type="text/x-jquery-tmpl">
   <tr>
      <td>${regId}</td>
      <td>${content}</td>
   </tr>
   </script>
</div>

</body>
</html>